@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #293b25;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 5rem;
}

body {
  background: #293b25;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .heading span {
    color: #29cac8;
    font-size: 2rem;
  }
  
  .heading h1 {
    font-size: 4rem;
    color: #fff;
  }
  
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #2bbdba;
    border: 0.2rem solid #38d1cf;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
  }
  
  .btn:hover {
    background: #24c5c2;
    color: #221a1a;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #2e3f1f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5rem 9%;
  }
  
  .header .navbar a {
    font-size: 1.7rem;
    color: #aaa;
    display: inline-block;
    margin: 0 1rem;
  }
  
  .header .navbar a:hover {
    color: #2fd1ce;
  }
  
  .header .btn {
    margin-top: 0;
  }
  
  .logo {
    font-size: 2.5rem;
    color: #212523;
    font-weight: bolder;
  }
  
  .logo i {
    color: #32dbd8;
    padding-right: .5rem;
  }
  
  #menu-btn {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }

  .about .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    margin-bottom: 5rem;
  }
  
  .about .content span {
    color: #21b690;
    font-size: 2rem;
  }
  
  .about .content h3 {
    color: #fff;
    font-size: 4rem;
    margin-top: .5rem;
  }
  
  .about .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
  }

  .class1{font-size: medium;
  color: #21b690;}

  .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.container:after{
    background-image: linear-gradient(
        135deg,
        #52E5E7,
        #130CB7
    );
}
.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #FD6E6A,
        #FFC600
    );
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #FFCF71,
        #2376DD
    );
}

.card4>.container:after{
  background-image: linear-gradient(
      135deg,
      #A0FE65,
      #FA016D
  );
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.card6{display: grid;
grid-template-columns: 300px;
grid-template-rows: 210px 210px 80px;
grid-template-areas: "image" "text" "stats";

border-radius:18px;
background: #ffffff;
box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
font-family: roboto;
text-align: center;

transition: 0.5 ease;
cursor: pointer;
margin: 30px;}

.card-image{
  grid-area: image;
  background: url(Amanpuri.jpg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text{
  grid-area: text;
  margin: 25px;
}

.card-text .date{
  color: rgb(255, 7, 110);
  font-size: 13px;
}

.card-text p{
color: grey;
font-size: 15px;
font-weight: 300;
}

.card-text h2{
  margin-top: 0px;
  font-size: 28px;
}

.card-stats{
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}

.card-stats .stat{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.card-stats .border{
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}

.card-stats .value{
  font-size: 22px;
  font-weight: 500;
}

.card-stats .value sup{
  font-size: 12px;
}

.card-stats .type{
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/*For Card 2*/
.card-image.card2{
  background: url(Banyan\ Tree\ Phuket.webp);
  background-size: cover;
}

.card-text.card2 .date{
  color: rgb(255, 77, 7);
}

.card-stats.card2 .border{
  border-left: 1px solid rgb(185, 67, 20);
  border-right: 1px solid rgb(185, 67, 20);
}

.card-stats.card2{
  background: rgb(255, 77, 7);
}

/*For Card 3*/

.card-image.card3{
  background: url(Soneva-Kiri.jpg);
  background-size: cover;
}

.card-text.card3 .date{
  color: rgb(0, 189, 63);
}

.card-stats.card3 .border{
  border-left: 1px solid rgb(14, 122, 50);
  border-right: 1px solid rgb(14, 122, 50);
}

.card-stats.card3{
  background: rgb(0, 189, 63);
}

.cards8 {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 30px;
}

.cards * {
  box-sizing: border-box;
}

.card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.card__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

.card__link {
  color: #64968c;
  text-decoration: none;
}

.card__link:hover {
  text-decoration: underline;
}